respostorypattern/Connected Services/Ser/UrunlerService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="UrunlerService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:55460/UrunlerService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:55460/UrunlerService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:55460/UrunlerService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/respostorypattern.DTO.Urunler" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServiceOf_UrunDTO_Listele_InputMessage">
    <wsdl:part name="parameters" element="tns:Listele" />
  </wsdl:message>
  <wsdl:message name="IServiceOf_UrunDTO_Listele_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListeleResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceOf_UrunDTO_Ekele_InputMessage">
    <wsdl:part name="parameters" element="tns:Ekele" />
  </wsdl:message>
  <wsdl:message name="IServiceOf_UrunDTO_Ekele_OutputMessage">
    <wsdl:part name="parameters" element="tns:EkeleResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceOf_UrunDTO_Sil_InputMessage">
    <wsdl:part name="parameters" element="tns:Sil" />
  </wsdl:message>
  <wsdl:message name="IServiceOf_UrunDTO_Sil_OutputMessage">
    <wsdl:part name="parameters" element="tns:SilResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceOf_UrunDTO_Guncelle_InputMessage">
    <wsdl:part name="parameters" element="tns:Guncelle" />
  </wsdl:message>
  <wsdl:message name="IServiceOf_UrunDTO_Guncelle_OutputMessage">
    <wsdl:part name="parameters" element="tns:GuncelleResponse" />
  </wsdl:message>
  <wsdl:portType name="IServiceOf_UrunDTO">
    <wsdl:operation name="Listele">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceOf_UrunDTO/Listele" message="tns:IServiceOf_UrunDTO_Listele_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceOf_UrunDTO/ListeleResponse" message="tns:IServiceOf_UrunDTO_Listele_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Ekele">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceOf_UrunDTO/Ekele" message="tns:IServiceOf_UrunDTO_Ekele_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceOf_UrunDTO/EkeleResponse" message="tns:IServiceOf_UrunDTO_Ekele_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Sil">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceOf_UrunDTO/Sil" message="tns:IServiceOf_UrunDTO_Sil_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceOf_UrunDTO/SilResponse" message="tns:IServiceOf_UrunDTO_Sil_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Guncelle">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceOf_UrunDTO/Guncelle" message="tns:IServiceOf_UrunDTO_Guncelle_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceOf_UrunDTO/GuncelleResponse" message="tns:IServiceOf_UrunDTO_Guncelle_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServiceOf_UrunDTO" type="tns:IServiceOf_UrunDTO">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Listele">
      <soap:operation soapAction="http://tempuri.org/IServiceOf_UrunDTO/Listele" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Ekele">
      <soap:operation soapAction="http://tempuri.org/IServiceOf_UrunDTO/Ekele" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Sil">
      <soap:operation soapAction="http://tempuri.org/IServiceOf_UrunDTO/Sil" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Guncelle">
      <soap:operation soapAction="http://tempuri.org/IServiceOf_UrunDTO/Guncelle" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="UrunlerService">
    <wsdl:port name="BasicHttpBinding_IServiceOf_UrunDTO" binding="tns:BasicHttpBinding_IServiceOf_UrunDTO">
      <soap:address location="http://localhost:55460/UrunlerService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>